[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
tensorboard = "*"
pytorch-lightning = "*"
jupyterlab = "*"
opencv-python = "*"
matplotlib = "*"
certifi = "*"

[dev-packages]

[requires]
python_version = "3.10"
